* {
    font-family: 'Prata', serif;
}

header {
    font-family: 'Permanent Marker', cursive;
}
.center {
    text-align:center
}
.margin-padding {
    margin: 20px;
    padding: 20px;
}
.cabecalho {
    
    background-color: #87CEEB;
}
.conteudo {
    border: 1px solid gray;
    border-radius: 10px;

}
.rodape {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
